<h1 xmlns="http://www.w3.org/1999/html">{{title}}</h1>
<p>Welcome to {{title}}</p>
<div><table><th>Number</th><th>Answer</th><th>Number</th><th>Answer</th>
    <tr><td>1</td><td><input type="text" id="1"></td><td>21</td><td><input type="text" id="21"></td><td>41</td><td><input type="text" id="41"></td></tr>
    <tr><td>2</td><td><input type="text" id="2"></td><td>22</td><td><input type="text" id="22"></td><td>42</td><td><input type="text" id="42"></td></tr>
    <tr><td>3</td><td><input type="text" id="3"></td><td>23</td><td><input type="text" id="23"></td><td>43</td><td><input type="text" id="43"></td></tr>
    <tr><td>4</td><td><input type="text" id="4"></td><td>24</td><td><input type="text" id="24"></td><td>44</td><td><input type="text" id="44"></td></tr>
    <tr><td>5</td><td><input type="text" id="5"></td><td>25</td><td><input type="text" id="25"></td><td>45</td><td><input type="text" id="45"></td></tr>
    <tr><td>6</td><td><input type="text" id="6"></td><td>25</td><td><input type="text" id="26"></td><td>46</td><td><input type="text" id="46"></td></tr>
    <tr><td>7</td><td><input type="text" id="7"></td><td>27</td><td><input type="text" id="27"></td><td>47</td><td><input type="text" id="47"></td></tr>
    <tr><td>8</td><td><input type="text" id="8"></td><td>28</td><td><input type="text" id="28"></td><td>48</td><td><input type="text" id="48"></td></tr>
    <tr><td>9</td><td><input type="text" id="9"></td><td>29</td><td><input type="text" id="29"></td><td>49</td><td><input type="text" id="49"></td></tr>
    <tr><td>10</td><td><input type="text" id="10"></td><td>30</td><td><input type="text" id="30"></td><td>50</td><td><input type="text" id="50"></td></tr>
    <tr><td>11</td><td><input type="text" id="11"></td><td>31</td><td><input type="text" id="31"></td><td>51</td><td><input type="text" id="51"></td></tr>
    <tr><td>12</td><td><input type="text" id="12"></td><td>32</td><td><input type="text" id="32"></td><td>52</td><td><input type="text" id="52"></td></tr>
    <tr><td>13</td><td><input type="text" id="13"></td><td>33</td><td><input type="text" id="33"></td><td></tr>
    <tr><td>14</td><td><input type="text" id="14"></td><td>34</td><td><input type="text" id="34"></td><td></tr>
    <tr><td>15</td><td><input type="text" id="15"></td><td>35</td><td><input type="text" id="35"></td><td></tr>
    <tr><td>16</td><td><input type="text" id="16"></td><td>36</td><td><input type="text" id="36"></td><td></tr>
    <tr><td>17</td><td><input type="text" id="17"></td><td>37</td><td><input type="text" id="37"></td><td></tr>
    <tr><td>18</td><td><input type="text" id="18"></td><td>38</td><td><input type="text" id="38"></td><td></tr>
    <tr><td>19</td><td><input type="text" id="19"></td><td>39</td><td><input type="text" id="39"></td><td></tr>
    <tr><td>20</td><td><input type="text" id="20"></td><td>40</td><td><input type="text" id="40"></td><td></tr>
</table>
</div>
<div><button type="submit">Go</button></div>

<!--<div><button onclick="add_google_logo();">Add Google Logo</button></div>-->
<!--<img src="/images/back@2x.png" width="225" height="325"  onclick="add_google_logo();">-->
<!--{{{body}}}-->
<!--<script>-->
    <!--var cardCount = 0;-->
    <!--var dude = {{{dude}}};-->
    <!--//dude = str.replace('&#x27;',"'");-->
    <!--var array = dude.split(',');-->

    <!--console.log("count=" + array.length.toString());-->
    <!--var count = 0;-->
    <!--function add_google_logo(sourceArray) {-->

        <!--console.log("cardCount="+ cardCount.toString());-->

        <!--if(cardCount>=52){-->
            <!--return;-->
        <!--}-->
        <!--//var myarray = ['5_of_spades.png','6_of_spades.png','7_of_spades.png'];-->


        <!--var src = "http://google.com/images/logo.gif";-->
        <!--//replace_image('/images/9_of_spades.png', 276,110, "Google Logo");-->
        <!--//replace_image('/images/' + myarray[count], 276,110, "Google Logo");-->
        <!--replace_image('/images/' + array[count], 276,110, "Google Logo");-->
        <!--count++;-->
        <!--cardCount++;-->
    <!--}-->

    <!--function replace_image(src, width, height, alt) {-->
        <!--var img = document.createElement("img");-->
        <!--img.src = src;-->
        <!--img.width = width;-->
        <!--img.height = height;-->
        <!--img.alt = alt;-->
        <!--document.getElementById("shitimage").src = src;-->
    <!--}-->

    <!--function show_image(src, width, height, alt) {-->
        <!--var img = document.createElement("img");-->
        <!--img.src = src;-->
        <!--img.width = width;-->
        <!--img.height = height;-->
        <!--img.alt = alt;-->
        <!--document.body.appendChild(img);-->
    <!--}-->

<!--</script>-->